<template name="cadastrar">
    <h5>Cadastrar</h5>

    <form id="cadastrar" action="#">
        <div class="input-field" >
          <input placeholder="User" id="user" type="text" name="user">
          <label for="user">User</label>
        </div>
        <div class="input-field" >
          <input placeholder="Email" id="email" type="text" name="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input placeholder="Password" id="password" type="password" name="password">
            <label for="password">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">
            Cadastrar
        </button>
    </form>

</template>