<template name="leroList">
    
    <div class="row">
        <form id="cadLeros" action="#">
            
            <div class="input-field">
            <textarea id="lero" class="materialize-textarea" name="lero"></textarea>
            <label for="lero">Lero</label>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Adicionar Lero
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    

    {{# each leros}}
        {{> lero}}
    {{/ each }}
</template>